input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	font-family: "open_sansregular";
    outline: 1px solid $blueBright;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	background-color: $blueVeryLight;
    outline: 2px solid $blueBright;
}

input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	background-color: $blueVeryLight;
}

.input:-internal-autofill-selected {
	background-color: $blueVeryLight !important;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: $blueBright;
}

.wpcf7-not-valid-tip {
	color: $blueBright;
}

.wpcf7 {
	padding: 0 .5rem;
	form { 
		fieldset {
			padding: 0 2rem 1.25rem;
			legend{ 
				padding-top: 1rem;
			}
			label {
				margin: 1.5rem 0 .5rem;
				font-family: "flama_semicondensedbold";
				font-size: 1.2rem;
				color: $blueBright;
				text-transform: capitalize;
			}
		}
	}
}

input[type="submit"] {
	margin-top: 1rem;
	background-color: $blueBright;
	&:hover {
		background-color: $blueBright;
	}
}