.dark {
	background-color: $blueVeryDark;
	.page {
		background-color: $blueVeryDark;
	}
	h1 {
	    color: $blueBrightD;
	}

	h2 {
	    color: $blueBrightD;
	}

	h3 {
	    color: $blueVeryLight;
	    font-weight: normal;
	}

	h4 {
	    color: $blueVeryLight;
	}

	h5 {
	    color: $blueVeryLight;
	}

	h6 {
	    color: $blueVeryLight;
	}

	p,li {
		color: $blueVeryLight;
	}

	/***** Links *****/

	a {
		color: $blueBrightD;
		border-bottom-color: $blueBrightD;
	}

	a:hover, a:active {
		color: $blueVeryLight;
	    border-bottom-color: $blueVeryLight;
	}

	a:focus {
		outline: 2px solid $white;
	}

	p:not(.site-title) a,
	span a,
	.nav-previous a,
	.nav-next a,
	.entry-content a {
	    border-bottom: 2px solid $blueBrightD;
	    color: $blueBrightD;
	    font-weight: normal;
	    transition-property: none;
	}

	p:not(.site-title) a:hover,
	span a:hover,
	.nav-previous a:hover,
	.nav-next a:hover,
	.entry-content a:hover {
	    border-bottom: 2px solid $white;
	    color: $blueBrightD;
	    transition-property: none;
	}

	p:not(.site-title) a:after,
	span a:after,
	.nav-previous a:after,
	.nav-next a:after,
	.entry-content a:after {
	    background: none;
	    color: $blueBrightD;
	    transition-property: none;
	}

	/***** Hoofdnavigatie *****/
	.main-navigation
	> div {
		background: $blueVeryDark;
		a {
			color: $white;
			&:hover {
				color: $white;
				border-bottom: 0px solid $blueVeryLight;
			}
			&:after {
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 1px;
			    content: '';
			    background-color: #fff;
			    transition: all .2s ease-out;
			}
		}
		.current_page_item > a {
			box-shadow: inset 0px -2px 0px 0px #fff;	
		}
		&:after {
			background: none;
		}
	}
	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:active,
	.menu-toggle:focus {
    	color: $white;
    	outline: 2px solid $white;
    	background-color: inherit;
	}	

	/***** Talenkeuze* ****/

	.lang-item a {
		color: $blueVeryLight;
	}

	.lang-item a:hover,
	.current-lang a {
		color: $blueBrightD;
		background-color: none;
	}

	.knop-licht {
		display: none;
	}

	.knop-donker {
		display: block;	
	}

	/***** Maan *****/

	.maan {
		background-image: url("img/zon.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40px 40px;
		background-color: $blueVeryDark
	}

	/***** Link knoppen *****/
	.card-links {
		a.linkb1 {
			color: $blueAlmostBlack;
			background-color: $blueBrightD;
			&:hover {
				color: $blueDark;
				background-color: $blueVeryLight;
			}
			&:focus {
				color: $blueDark;
				border-color: $blueDark;
				background-color: $blueVeryDark;
			}
			&:active {
				color: $blueBrightD;
				border-color: $blueAlmostBlack;
				background-color: $blueAlmostBlack;
			}
		}
		a.linkb2 {
			color: $blueVeryDark;
			background-color: $blueVeryLight;
			&:hover {
				color: $blueVeryLight;
				border-color: #011A76;
				background-color: #011A76;
			}
			&:focus {
				color: $blueVeryLight;
				border-color: $blueVeryLight;
				background-color: $blueVeryDark;
			}
			&:active {
				color: $blueVeryLight;
				border-color: $blueAlmostBlack;
				background-color: $blueAlmostBlack;
			}
		}
	}

	.card-partners,
	.card-diensten {
		p:not(.site-title) a,
		.entry-content a {
		    border-bottom: 2px solid $blueBrightD;
		    color: $blueBrightD;
		}
		p:not(.site-title) a:hover,
		.entry-content a:hover {
		    border-bottom: 2px solid $blueBrightD;
		    color: $blueBrightD;
		}

		p:not(.site-title) a:after,
		span a:after,
		.nav-previous a:after,
		.nav-next a:after,
		.entry-content a:after {
		    background-color: $blueBrightD;
		    color: $blueBrightD;
		    transition-property: none;
		}
	}

	.card-item {
		box-shadow: 2px 2px 20px rgba(230,241,252,.1);
	}

	.img-light {
		display: none;
	}

	.img-dark {
		display: block;
	}

	.quote figure figcaption {
		color: $blueVeryLight;
	}

	/***** Footer links *****/
	.site-footer {
		background-color: $blueBrightD;
		.footer-row {
			h3 {
				color: $blueVeryDark;
			}

			a {	
				color: $blueVeryDark;
				&:focus {
					outline: 1px solid white;
				}
			}
			.footerlist {
				li {
					color: $blueVeryDark;
				}
				.mail {
					background-image: url("img/mail-dark.svg");	
				}
				.tele {
					background-image: url("img/tele-dark.svg");
				}
				.social {
					.twitter {
						background-image: url("img/twitter-dark.svg");
					}
					.linkedin {
						background-image: url("img/linkedin-dark.svg");
					}
				}				
			}
			p {
				color: $blueVeryDark;
				a {
					border: none;
					&:hover {
						color: $blueVeryDark;
					}
				}
			}
		}
		.footer-row-1 {
			&::before {
				background-image: url("img/opsommingsteken-dark.svg");
			}
		}
	}

/***** Contact *****/

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
	    background-color: $blueVeryDark;
	    border: 2px solid $blueBrightD;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	input[type="number"]:focus,
	input[type="tel"]:focus,
	input[type="range"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="color"]:focus,
	textarea:focus {
		background-color: $blueVeryLight;
	    outline: 2px solid $blueBrightD;
	}

	input[type="submit"]:hover,
	input[type="submit"]:active,
	input[type="submit"]:focus {
		background-color: $blueVeryLight;
	}

	.input:-internal-autofill-selected {
		background-color: $blueVeryLight !important;
	}

	.wpcf7 form.invalid .wpcf7-response-output,
	.wpcf7 form.unaccepted .wpcf7-response-output {
	    border-color: $blueBrightD;
	    color: $blueBrightD;
	}

	.wpcf7-not-valid-tip {
		color: $blueBrightD;
	}

	.wpcf7 {
		form { 
			border: 1px solid $blueBrightD;
			label {
				color: $blueVeryLight;
			}
			input[type="submit"] {
				background-color: $blueBright;
				border: 2px solid $blueBright;
				&:hover {
					background-color: $blueBright;
					border: 2px solid $blueBright;
				}
			}
		}		
	}
}

@media screen and (min-width: 48em) {
	.dark {
		.site-footer {
			.footer-row-1 {
				h3 {
					color: $blueBrightD;
				}
				.footerlist {
					margin-bottom: 0;
					padding-inline-start: 0;
					li {
					color: $blueBrightD;
						a {
							color: $blueBrightD;
						}
					}
					.mail {
						background-image: url("img/mail-media-dark.svg");	
					}
					.tele {
						background-image: url("img/tele-media-dark.svg");	
					}
					.social {
						a:focus {
							outline: 1px solid $blueVeryLight;
						}
						.twitter {
							background-image: url("img/twitter-media-dark.svg");
						}
						.linkedin {
							background-image: url("img/linkedin-media-dark.svg");
						}
					}					
				}
			}
		}
	}
}




/********** color scheme **********/
@media (prefers-color-scheme: dark) {
body {
	background-color: $blueVeryDark;
	h1 {
	    color: $blueBrightD;
	}

	h2 {
	    color: $blueBrightD;
	}

	h3 {
	    color: $blueVeryLight;
	    font-weight: normal;
	}

	h4 {
	    color: $blueVeryLight;
	}

	h5 {
	    color: $blueVeryLight;
	}

	h6 {
	    color: $blueVeryLight;
	}

	p,li {
		color: $blueVeryLight;
	}

	/***** Links *****/

	a {
		color: $blueBrightD;
		border-bottom-color: $blueBrightD;
	}

	a:hover, a:active {
		color: $blueVeryLight;
	    border-bottom-color: $blueVeryLight;
	}

	a:focus {
		outline: 2px solid $white;
	}

	p:not(.site-title) a,
	span a,
	.nav-previous a,
	.nav-next a,
	.entry-content a {
	    border-bottom: 2px solid $blueBrightD;
	    color: $blueBrightD;
	    font-weight: normal;
	    transition-property: none;
	}

	p:not(.site-title) a:hover,
	span a:hover,
	.nav-previous a:hover,
	.nav-next a:hover,
	.entry-content a:hover {
	    border-bottom: 2px solid $blueBrightD;
	    color: $blueBrightD;
	    transition-property: none;
	}

	p:not(.site-title) a:after,
	span a:after,
	.nav-previous a:after,
	.nav-next a:after,
	.entry-content a:after {
	    background: none;
	    color: $blueBrightD;
	    transition-property: none;
	}

	/***** Hoofdnavigatie *****/
	.main-navigation
	> div {
		background: $blueVeryDark;
		a {
			color: $white;
			&:hover {
				color: $white;
				border-bottom: 0px solid $blueVeryLight;
			}
			&:after {
			    position: absolute;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 1px;
			    content: '';
			    background-color: #fff;
			    transition: all .2s ease-out;
			}
		}
		.current_page_item > a {
			box-shadow: inset 0px -2px 0px 0px #fff;
		}
		&:after {
			background: none;
		}
	}
	.menu-toggle,
	.menu-toggle:hover,
	.menu-toggle:active,
	.menu-toggle:focus {
    	color: $white;
    	outline: 2px solid $white;
    	background-color: inherit;
	}	

	/***** Talenkeuze* ****/

	.lang-item a {
		color: $blueVeryLight;
	}

	.lang-item a:hover,
	.current-lang a {
		color: $blueBrightD;
		background-color: none;
	}

	.knop-licht {
		display: none;
	}

	.knop-donker {
		display: block;	
	}

	/***** Maan *****/

	.maan {
		background-image: url("img/zon.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 40px 40px;
		background-color: $blueVeryDark
	}

	/***** Link knoppen *****/
	.card-links {
		a.linkb1 {
			color: $blueAlmostBlack;
			background-color: $blueBrightD;
			&:hover {
				color: $blueDark;
				background-color: $blueVeryLight;
			}
			&:focus {
				color: $blueDark;
				border-color: $blueDark;
				background-color: $blueVeryDark;
			}
			&:active {
				color: $blueBrightD;
				border-color: $blueAlmostBlack;
				background-color: $blueAlmostBlack;
			}
		}
		a.linkb2 {
			color: $blueVeryDark;
			background-color: $blueVeryLight;
			&:hover {
				color: $blueVeryLight;
				background-color: #011A76;
			}
			&:focus {
				color: $blueVeryLight;
				border-color: $blueVeryLight;
				background-color: $blueVeryDark;
			}
			&:active {
				color: $blueVeryLight;
				border-color: $blueAlmostBlack;
				background-color: $blueAlmostBlack;
			}
		}
	}

	.card-partners,
	.card-diensten {
		p:not(.site-title) a,
		.entry-content a {
		    border-bottom: 2px solid $blueBrightD;
		    color: $blueBrightD;
		}
		p:not(.site-title) a:hover,
		.entry-content a:hover {
		    border-bottom: 2px solid $blueBrightD;
		    color: $blueBrightD;
		}

		p:not(.site-title) a:after,
		span a:after,
		.nav-previous a:after,
		.nav-next a:after,
		.entry-content a:after {
		    background-color: $blueBrightD;
		    color: $blueBrightD;
		    transition-property: none;
		}
	}

	.card-item {
		box-shadow: 2px 2px 20px rgba(230,241,252,.1);
	}

	.img-light {
		display: none;
	}

	.img-dark {
		display: block;
	}

	.quote figure figcaption {
		color: $blueVeryLight;
	}

	/***** Footer links *****/
	.site-footer {
		background-color: $blueBrightD;
		.footer-row {
			h3 {
				color: $blueVeryDark;
			}

			a {	
				color: $blueVeryDark;
				&:focus {
					outline: 1px solid white;
				}
			}
			.footerlist {
				li {
					color: $blueVeryDark;
				}
				.mail {
					background-image: url("img/mail-dark.svg");	
				}
				.tele {
					background-image: url("img/tele-dark.svg");
				}
				.social {
					.twitter {
						background-image: url("img/twitter-dark.svg");
					}
					.linkedin {
						background-image: url("img/linkedin-dark.svg");
					}
				}				
			}
			p {
				color: $blueVeryDark;
				a {
					border: none;
					&:hover {
						color: $blueVeryDark;
					}
				}
			}
		}
		.footer-row-1 {
			&::before {
				background-image: url("img/opsommingsteken-dark.svg");
			}
		}
	}

/***** Contact *****/

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
	    background-color: $blueVeryDark;
	    border: 2px solid $blueBrightD;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	input[type="number"]:focus,
	input[type="tel"]:focus,
	input[type="range"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="color"]:focus,
	textarea:focus {
		background-color: $blueVeryLight;
	    outline: 2px solid $blueBrightD;
	}

	input[type="submit"]:hover,
	input[type="submit"]:active,
	input[type="submit"]:focus {
		background-color: $blueVeryLight;
	}

	.input:-internal-autofill-selected {
		background-color: $blueVeryLight !important;
	}

	.wpcf7 form.invalid .wpcf7-response-output,
	.wpcf7 form.unaccepted .wpcf7-response-output {
	    border-color: $blueBrightD;
	    color: $blueBrightD;
	}

	.wpcf7-not-valid-tip {
		color: $blueBrightD;
	}

	.wpcf7 {
		form { 
			border: 1px solid $blueBrightD;
			label {
				color: $blueVeryLight;
			}
			input[type="submit"] {
				background-color: $blueBright;
				border: 2px solid $blueBright;
				&:hover {
					background-color: $blueBright;
					border: 2px solid $blueBright;
				}
			}
		}		
	}
}

@media screen and (min-width: 48em) {
	.dark {
		.site-footer {
			.footer-row-1 {
				h3 {
					color: $blueBrightD;
				}
				.footerlist {
					margin-bottom: 0;
					padding-inline-start: 0;
					li {
					color: $blueBrightD;
						a {
							color: $blueBrightD;
						}
					}
					.mail {
						background-image: url("img/mail-media-dark.svg");	
					}
					.tele {
						background-image: url("img/tele-media-dark.svg");	
					}
					.social {
						a:focus {
							outline: 1px solid $blueVeryLight;
						}
						.twitter {
							background-image: url("img/twitter-media-dark.svg");
						}
						.linkedin {
							background-image: url("img/linkedin-media-dark.svg");
						}
					}					
				}
			}
		}
	}

	}
}
