
@font-face {
    font-family: 'flama_semicondensedbasic';
    src: url('font/flamasemicondensed-basic-webfont.woff2') format('woff2'),
         url('font/flamasemicondensed-basic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flama_semicondensedbold';
    src: url('font/flamasemicondensed-bold-webfont.woff2') format('woff2'),
         url('font/flamasemicondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flama_semicondensedbook';
    src: url('font/flamasemicondensed-book-webfont.woff2') format('woff2'),
         url('font/flamasemicondensed-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'flama_semicondensedsemibold';
    src: url('font/flamasemicondensed-semibold-webfont.woff2') format('woff2'),
         url('font/flamasemicondensed-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('font/opensans-bold-webfont.woff2') format('woff2'),
         url('font/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('font/opensans-italic-webfont.woff2') format('woff2'),
         url('font/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('font/opensans-regular-webfont.woff2') format('woff2'),
         url('font/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 125%;
}

body {
	font-family: 'open_sansregular';
}

p, li {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 720px;
}

p, ul {
    margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    margin: 1rem 0;
}

h1 {
	font-family: 'flama_semicondensedbold';
    font-size: 2.4rem;
    line-height: 1.2;
    color: $blueDark;
    margin-bottom: 1.5rem;
}

h2 {
	font-family: 'flama_semicondensedbold';
    font-size: 2rem;
    line-height: 1.2;
    color: $blueDark;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-family: 'flama_semicondensedbold';
    font-size: 1.5rem;
    line-height: 1.2;
    color: $blueVeryDark;
    margin-top: 2rem;
    text-transform: none;    
}

h4 {
	font-family: 'flama_semicondensedsemibold';
    font-size: 1.2rem;
    line-height: 1.2;
    color: $blueVeryDark;
}

h5 {
	font-family: 'flama_semicondensedbold';
    font-size: .8rem;
    line-height: 1.2;
    color: $blueVeryDark;
    text-transform: none;
}

h6 {
	font-family: 'flama_semicondensedsemibold';
    font-size: .8rem;
    line-height: 1.2;
    color: $blueVeryDark;
}

b, strong {
    font-family: 'open_sansbold';
}

i, em {
    font-family: 'open_sansitalic';
}