.site,
.site-footer {
	margin: 0 auto;
	max-width: 1024px;
}

.site-header-col {
	position: relative;
}

.site-branding {
	width: 60%;
	margin-top: 10px;
}

.language {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	text-align: right;
	li {
		margin-left: 15px;
		:first-child {
			margin-left: 0;
		}
	}
}

.main-navigation {
	margin-top: 45px;
}

.entry-title  {
	color: $blue;
}

.diensten-menu {
	margin: 2rem auto;
	max-width: 637px;
}
.onze-diensten {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-inline-start: 0;
	list-style-type: none;
	li {	
		display: flex;
		justify-content: center;
		width: 12rem;
		height: 5rem;
		margin: 0 .5rem 1rem 0;
		text-align: center;
		&:nth-child(-n+2) a {
			line-height: 2.8rem;
		}
		a {
			width: 100%;
			padding: 1rem;
			color: #FFF;
			font-weight: normal;
			text-align: center;
			border-bottom: none;
			border-radius: 2px;
			background: $blue;
			&:hover {
				color: #fff;
				background-color: $lightblue;
				border-bottom: none;
			}
			&:after {
				background: none;
			}
		}
	}
}

.partners img {
	width: 50%;
}

.footerlist {
	margin-bottom: 1rem;
	list-style-type: none;
}

.footerlist:last-child {
	margin-bottom: 0;
}

