@media screen and (min-width: 37.5em) {

	.main-navigation {
	    margin-top: 1rem;
	    width: 100%;
	    a:first-child {
	    	margin-left: 1.25rem;
	    	margin-right: 1rem;
	    	padding-left: 0;
	    	padding-right: 0;
	    }
	}

.entry-content .wp-show-posts-columns#wpsp-616	{
	margin-left: 0;
}

	.wp-show-posts {
		article {
			padding: 2rem 2rem 0 .5rem;
	    }
	}
	
}

@media screen and (min-width: 40em) {

	.site-header {
		padding-top: 1rem;
	}

	.site-branding {
		width: 50%;
	}

	// .main-navigation {
	// 	margin-top: 0;
	// 	margin-left: 0;
	// }	

	.site-info {
		display: flex;
		justify-content: space-between;
	}

	.site-footer {
		min-height: 310px;
		.row {
			margin: 0;
			.nuttigelinks {
				margin-top: 4.3rem;
			}
		}
		.footer-row-1 {
			position: relative;
			min-width: 200px;
			min-height: 310px;
			padding: 0 1rem;
			h3 {
				color: $blueVeryLight;
			}
			li {
				color: $blueVeryLight;
				a {
					color: $blueVeryLight;
				}
			}
			.footerlist {
				margin-bottom: 0;
				padding-inline-start: 0;
				.mail {
					background-image: url("img/mail.svg");	
					a:focus {
						outline: 1px solid $blueVeryLight;
					}
				}
				.tele {
					background-image: url("img/tele.svg");
					a:focus {
						outline: 1px solid $blueVeryLight;
					}
				}
				.social {
					a:focus {
						outline: 1px solid $blueVeryLight;
					}
					.twitter {
						background-image: url("img/twitter.svg");
					}
					.linkedin {
						background-image: url("img/linkedin.svg");
					}
				}	
			}
		}
	}

	.partners-sec,
	.diensten-sec {
		display: flex;
		flex-direction: column;
	}

}

@media only screen and (min-width: 48em) {

	.col-sm-offset-1 {
	    margin-left: 0;
	}
	.col-sm-10 {
	    -ms-flex-preferred-size: 83.33333333%;
	    flex-basis: 100%;
	    max-width: 100%; 
	}

	section,
	.home-wat,
	.home-wie-sec {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin: 2rem 0;
		.card-content,
		.card-img {
			width: 45%;
		}
	}

	.partners-sec {
		margin-left: auto;
		margin-right: auto;
		width: 75%;
		.card-content,
		.card-img {
			width: auto;
		}
	}

	.home-berichten {
		article {
			width: 40%;
		}
	}

	.site-footer {
		.row {
			margin: 0 2rem;
		}
		.footer-row-1 {
			h3 {
				color: $blueDark;
			}
			li {
				color: $blueDark;
				a {
					color: $blueDark;
				}
			}
			&::before {
				position: absolute;
				content: "";
				margin-top: -1px;
				top: 0;
				left: 0;
				width: 200%;
				height: 100%;
				background-image: url("img/opsommingsteken.svg");
				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;
				z-index: -1;
			}
				.footerlist {
				.mail {
					background-image: url("img/mail-media.svg");	
					a:focus {
						outline: 1px solid $blueVeryLight;
					}
				}
				.tele {
					background-image: url("img/tele-media.svg");
					a:focus {
						outline: 1px solid $blueVeryLight;
					}	
				}
				.social {
					a:focus {
						outline: 1px solid $blueVeryLight;
					}
					.twitter {
						background-image: url("img/twitter-media.svg");
					}
					.linkedin {
						background-image: url("img/linkedin-media.svg");
					}
				}
			}
		}
	}

}


@media only screen and (min-width: 55em) {

	.site-header .row {
		margin-left: 0;
		margin-right: 0;
	}

	.site-header-col {
		padding-left: 0;
	}

	.site-branding {
		width: 40%;
	}

	// .main-navigation {
	// 	position: absolute;
	// 	top: 40px;
	// 	bottom: 0;
	// 	right: 0;
	// 	.nav-menu {
	// 		li:last-child a {
	// 			padding: 16px 0 16px 20px;
	// 		}
	// 	}
	// }
	
	.main-navigation {
	    margin-top: 1rem;
	    width: 100%;
	    a:first-child {
	    	margin-left: 1rem;
	    	margin-right: 1rem;
	    	padding-left: 0;
	    	padding-right: 0;
	    }
	}	

	.col-sm-offset-1 {
	    margin-left: 0;
	}

	.col-sm-10 {
    	-ms-flex-preferred-size: 100%;
    	flex-basis: 100%;
	    max-width: 100%;
	  }

	.post-223 .entry-content,
	.post-225 .entry-content,
	.post-369 .entry-content,
	.post-367 .entry-content,
	.post-15 .entry-content .wpcf7 {
			width: 60%;
		}

	figure {
		flex-direction: row;
		justify-content: space-between;
		margin: 1rem auto;
		.blocktekst {
			margin-left: 2rem;
			width: 50%;
			blockquote p {
				font-size: 1.5rem;
				text-align: left;
			}
			figcaption {
				text-align: left;
			}
		}
	}

	section	.card-diensten,
	section	.card-partners {
		width: 100%;
		.card-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			height: auto;
			margin-bottom: 2rem;
			.card-item {
				width: 45%;
				min-height: 45rem;
				margin: 0 2% 4rem;
				// &:first-of-type {
				// 	margin: 0;
				// }
				// &:last-of-type {
				// 	margin: 0;
				// }
				.card-img {
					width: 100%;
					height: 30%;
					img {
						width: 80px;
					}
				}
			}
			.card-item-vebes {
				.card-img {
					height: 110px;
					img {
						width: 145px;
					}
				}
			}	
		}
	}

	.partners-sec {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		.card-content,
		.card-img {
			width: auto;
		}
	}

}

@media only screen and (min-width: 64em) {

	html {
		font-size: 125%;
	}

	h1 {
		font-size: 2.8rem;
	}

	.site-branding {
		width: 40%;
		max-width: 308px;
	}

	// .main-navigation {
	// 	position: absolute;
	// 	top: 40px;
	// 	bottom: 0;
	// 	right: 0;
	// 	.nav-menu {
	// 		li:last-child a {
	// 			padding: 16px 0 16px 20px;
	// 		}
	// 	}
	// }


/* Partners page */
	.post-117 .entry-content,
	.page-id-13 .entry-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-content: space-between;
		width: 100%;
		&:before {
			content: normal;
		}
		&:after {
			content: normal;
		}
	}	

	.site-header {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	
	.site-header .row {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}


		.site-content {
			.row {
				margin-right: 0;
	    		margin-left: 0;
				.col-md-offset-2 {
			    	margin-left: 0;
		    		margin-right: 0;
				}
				.col-md-8 {
				    max-width: 100%;
				    width: 100%;
				    flex-basis: 100%;
				    padding: 0;
				}
			}
		}

	section	.card-diensten,
	section	.card-partners {
		width: 100%;
		.card-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			height: auto;
			margin-bottom: 2rem;
			.card-item {
				width: 45%;
				min-height: 38rem;
				margin: 0 2% 4rem;
				// &:first-of-type {
				// 	margin: 0;
				// }
				// &:last-of-type {
				// 	margin: 0;
				// }
				.card-img {
					width: 100%;
					height: 30%;
					img {
						width: 80px;
					}
				}
			}
			.card-item-vebes {
				.card-img {
					height: 110px;
					img {
						width: 145px;
					}
				}
			}	
		}
	}

	.footer-row-2 {
		margin-left: 6rem;
		.footerlist {
			columns: 2 8rem;
		}
	}
}

@media only screen and (min-width: 80em) {
	
	h1 {
		font-size: 3.2rem;
	}

	h2 {
		font-size: 2.4rem;
	}

	section	.card-diensten,
	section	.card-partners {
		width: 100%;
		.card-row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			height: auto;
			margin-bottom: 2rem;
			.card-item {
				width: 45%;
				min-height: 33rem;
				margin: 0 2% 4rem;
				// &:first-of-type {
				// 	margin: 0;
				// }
				// &:last-of-type {
				// 	margin: 0;
				// }
				.card-img {
					width: 100%;
					height: 30%;
					img {
						width: 80px;
					}
				}
			}
		}
	}
		.footer-row-2 {
		margin-left: 10rem;
		.footerlist {
			columns: 2 12rem;
		}
	}
}
