/***** Links *****/
a {
	font-family: "flama_semicondensedbook";
	font-size: .9rem;
	color: $blueDark;
	border-bottom-color: $blueDark;
}

a:hover, a:active {
	color: $blueAlmostBlack;
    border-bottom-color: $blueAlmostBlack;
    cursor: pointer;
}

/***** Hoofdnavigatie *****/
.main-navigation {
	margin-top: 50px;
	a {
		font-family: 'flama_semicondensedbasic';
		font-size: 1.2rem;
		color: $blueVeryDark;
	}
}

/***** Talenkeuze* ****/
.language {
	position: absolute;
	top: 0px;
	right: 45px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	text-align: right;
	li {
		:first-child {
			margin-left: 0;
		}
	}
}

.lang-item a {
	width: 40px;
	height: 40px;
	padding: .5rem;
	line-height: 2.2;	
	color: $blueVeryDark;
}

.lang-item a:hover ,
.current-lang a {
	color: $blueDark;
	text-decoration: underline;
}

/***** Maan *****/

.maan {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	min-height: 40px;
	padding: 0 8px;
	background-color: $blueVeryDark;
}

/***** Link knoppen *****/
.card-links {
	display: flex;
	flex-direction: row;
	text-align: center;
	a {
		display: inline-block;
		font-family: 'flama_semicondensedbold';
		font-size: 1rem;
		padding: .8rem;
		:hover, :active {
			border-bottom-color: none;
		}	
	}
	a.linkb1 {
		text-decoration: none;
		color: white;
		background-color: $blueDark;
		border: none;
		margin-right: 2rem;
		transition-property: none;
		&:hover {
			color: white;
			background-color: $blueVeryDark;
			border: none;
			transition-property: none;
		}
		&:focus {
			color: $blueDark;
			border-color: $blueDark;
			background-color: white;
		}
		&:active {
			color: $blueVeryDark;
			border-color: $blueVeryDark;
			background-color: white;
		}
		&:after {
			transform: none;
			height: 0;
		}
	}
	a.linkb2 {
		text-decoration: none;
		color: $blueBright;
		background-color: $blueVeryDark;
		border: none;
		font-weight: bold;
		transition-property: none;
		&:hover {
			color: $blueVeryDark;
			background-color: $blueBright;
			border: none;
			transition-property: none;
		}
		&:focus {
			color: $blueBright;
			outline: 2px solid $blueBright;
			background-color: white;
		}
		&:active {
			color: white;
			outline: 1px solid $blueVeryDark;
			background-color: $blueVeryDark;
		}
		&:after {
			transform: none;
			height: 0;
		}
	}
}

.home-wie-sec {
	.card-links {
		a.linkb1 {
			margin-bottom: 1rem;
		}
	}
}

/***** Footer links *****/

.site-footer {
	margin: 3rem auto 0;
	padding: 0;
	border-top: none;
}

.site-footer {
	position: relative;
	z-index: 1;
	background-color: $blueDark;
	.row {
		margin: 0 2rem;
		padding: 0 1rem;
		width: 100%;
		h3 {
			font-size: 1.2rem;
			color: $blueVeryLight;
			font-weight: bold;
		}
		p {
			margin-top: 5rem;
			font-size: .9rem;
			color: $blueVeryLight;
			font-family: "flama_semicondensedbook";
			a {	
				text-decoration: underline;
				font-size: .9rem;
				color: $blueVeryLight;
				transition-property: none;
				&:hover {
					border: none;
					color: $blueVeryLight;
					transition-property: none;
				}
				&:focus {
					outline: 1px solid white;
				}
				&:after {
					background-color: transparent;
					transition-property: none;
				}
			}
		}
		a {	
			text-decoration: underline;
			color: $blueVeryLight;
			&:hover {
				border: none;
			}
			&:focus {
				outline: 1px solid white;
			}
		}
		.footerlist {
			margin-bottom: 1rem;
			padding-inline-start: 0;
			list-style-type: none;
			color: #333;
			font-family: "flama_semicondensedbook";
			font-size: .9rem;
			color: $blueVeryLight;
			li {
				margin-bottom: .5rem;
				font-size: .9rem;
				a {
					font-size: .9rem;	
				}
			}
			.footer-icon {
				background-repeat: no-repeat;
				background-position: left 5px;
				background-size: 14px auto;
			}
			.mail {
				background-image: url("https://staging.di-ax.be/wp-content/themes/diax/img/mail.svg");	
				a {	
					margin-left: 1.3rem;
				}
			}
			.tele {
				background-image: url("https://staging.di-ax.be/wp-content/themes/diax/img/tele.svg");
				a {	
					margin-left: 1.3rem;
				}
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

