@media screen and (min-width: 37.5em) {

	.card-content {
		display: flex;
		justify-content: space-between;

		.text {
			width: 50%;
		}

		.foto {
			width: 40%;
			margin-bottom: 0;
		}
	}

	p > img {
		max-width: 100%;
		width: 300px;
		height: auto;
	}

	.partners img {
		width: 50%;
		max-width: 150px;
	}

	.site-branding {
		width: 50%;
		// max-width: 330px;
	}

	.main-navigation {
		margin-top: 0;
	}	

	.footerlist {
		margin-bottom: 0;
	}

	.site-info {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

}

@media only screen and (min-width: 48em) {
	.site-header .row {
		// margin-left: 8.33333333%;
		// margin-right: 8.33333333%;
		margin-left: 0;
		margin-right: 0;
	}

	.site-header-col {
		padding-left: 0;
	}

	.site-branding {
		width: 40%;
	}

	.main-navigation {
		position: absolute;
		// top: 42px;
		bottom: 0;
		right: 0;
		.nav-menu {
			li:last-child a {
				padding: 16px 0 16px 20px;
			}
		}
	}

	.col-sm-offset-1 {
	    margin-left: 0;
	}

	.col-sm-10 {
    	-ms-flex-preferred-size: 100%;
    	flex-basis: 100%;
	    max-width: 100%;
	  }

	.onze-diensten {
		justify-content: space-between;
		li {
			justify-content: center;
		}
	}

	.post-15 .entry-content {
		display: flex;
		justify-content: space-between;
		.adres{
			width: 40%;
		}
		.wpcf7 {
			width: 50%;
		}
	}	
}

@media only screen and (min-width: 980px) {

	.card-content {
		flex-direction: column;
		.text {
			width: 100%;
		}

		.foto {
			width: 100%;
		}
	}

	.page-id-2 .card-content {
		display: flex;
		    flex-direction: row;
		justify-content: space-between;
		.text {
			width: 65%;
		}

		.foto {
			width: 30%;
			margin-bottom: 0;
		}
	}

	.site-branding {
		width: 40%;
		max-width: 308px;
	}

/* Partners page */
	.post-117 .entry-content,
	.page-id-13 .entry-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-content: space-between;
		width: 100%;
		&:before {
			content: normal;
		}
		&:after {
			content: normal;
		}
		.partners,
		.card {
			align-self: stretch;
			width: 47%;
		}
	}
}

@media only screen and (min-width: 64em) {
	
	.site-header .row {
		margin-left: 8.33333333%;
		margin-right: 8.33333333%;
		padding-left: 0;
		padding-right: 0;
	}


		.site-content {
			.row {
				margin-right: 3rem;
	    		margin-left: 3rem;
				.col-md-offset-2 {
			    	margin-left: 0;
		    		margin-right: 0;
				}
				.col-md-8 {
				    max-width: 100%;
				    width: 100%;
				    flex-basis: 100%;
				}
			}
		}
	
}
