@media screen and (min-width: 37.5em) {
	.site-branding {
		width: 50%;
	}

	.main-navigation {
		margin-top: 0;
	}	

	.footerlist {
		margin-bottom: 0;
	}

	.site-info {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

}

@media only screen and (min-width: 48em) {
	.site-header .row {
		margin-left: 8.33333333%;
		margin-right: 8.33333333%;
	}

	.site-branding {
		width: 40%;
	}

	.main-navigation {
		margin-top: -4px;
	}

	.onze-diensten {
		justify-content: space-between;
		li {
			justify-content: center;
		}
	}	
}

@media only screen and (min-width: 980px) {

	.site-header .row {
		margin-left: 8.33333333%;
		margin-right: 8.33333333%;
		// padding-right: 0;
	}

	.site-branding {
		width: 40%;
		max-width: 308px;
	}

	.main-navigation {
		position: absolute;
		top: 54px;
		right: -25px;
		width: 460px;
	}

/* Partners page */
	.post-117 .entry-content,
	.page-id-13 .entry-content {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-content: space-between;
		width: 100%;
		&:before {
			content: normal;
		}
		&:after {
			content: normal;
		}
		.partners,
		.card {
			align-self: stretch;
			width: 47%;
		}
	}
}

@media only screen and (min-width: 64em) {
	.page-id-117,
	.page-id-13 {
		.site-content {
			.row {
				margin-right: 3rem;
	    		margin-left: 3rem;
				.col-md-offset-2 {
			    	margin-left: 0;
		    		margin-right: 0;
				}
				.col-md-8 {
				    max-width: 100%;
				    width: 100%;
				    flex-basis: 100%;
				}
			}
		}
	}
}
